:root {
    scroll-behavior: smooth;
    scroll-padding-top: 60px;
}

body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
}

h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}

h3 {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.container-fluid{
    margin-left: 5%;
    margin-right: 5%;
}

.btn-success {
    background-color: #5cb85f;
    border: none;
}

.nav-item {
    margin-right: 1em;
}

.nav-link {
    color: rgba(0, 0, 0, 0.55);
}

.nav-link:hover {
    color: rgba(0, 0, 0, 1);
}

.navbar-collapse {
    align-items: flex-end;
}

.why-us-text {
    max-width: 30rem;
}

.why-us-text p {
    margin: 0;
}

.why-us-text img {
    width: 24px;
    height: 24px;
    margin-right: 1rem;
}

.mycard {
    width: 16rem;
    border: solid 1px #d0d0d0;
    border-radius: 8px;
    margin-top: 1rem;
    padding: 1rem;
}

.card-title {
    font-weight: 700;
}

.carousel-image {
    width: 80px;
    height: 80px;
}

.username {
    font-size: 14;
    font-weight: 400;
}

.cta-banner {
    text-align: center;
    color: #fff;
    background-color: #0d28a6;
    border-radius: 13px;
}

.accordion-item {
    margin-bottom: 1rem;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
}

.navigation li {
    list-style: none;
}

.navigation li a {
    text-decoration: none;
    color: #000;
}

.navigation a:hover {
    font-weight: 700;
    transition: 0.5s;
}

.sosmed-icon {
    margin-right: 16px;
}

.footer {
    background-color: #f1f3ff;
}

.footer-child {
    margin: 1rem 0;
}

.hero-desc {
    display: flex;
    flex-direction: column;

    /* padding: 5rem; */
    text-align: left;

    align-items: center;
    justify-content: center;
}

.hero-desc button {
    width: fit-content;
}

.hero-ills {
    display: flex;

    align-items: flex-end;
    justify-content: flex-end;

    width: 100%;
    height: 100%;

    margin-top: auto;
    margin-left: 1rem;
}

.nav-item .active {
    color: #5cb85f;
    font-weight: 700;
}

/* carousel styling */

.carouse-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-card {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #f1f3ff;

    padding: 3rem;
    margin: 0 16px;

    max-width: 600px;
    border-radius: 8px;
}

.carousel-container {
    padding-bottom: 5rem;
}

.rating-stars {
    margin-bottom: 1rem;
}

.carousel-button {
    position: absolute;
    z-index: 10;
    top: 300px;
}

.carousel-button-content {
    border: 1px solid #c4c4c4;
    width: 32px;
    height: 32px;
    /* padding: 1rem; */
    border-radius: 50%;

    align-items: center;
    justify-content: center;
    /* background-color: #5cb85f; */
}

.carousel-button-content::after {
    content: none;
}

.carousel-button-content:hover {
    background-color: #5cb85f;
    border: none;
    transition: all 0.5s ease-out;
}

.carousel-button-content span.next,
.carousel-button-content span.prev {
    border: 2px solid #000;
    width: 8px;
    height: 8px;

    border-top: none;
    border-left: none;

    transform: translateX(2px) rotate(135deg);
}

.carousel-button-content:hover span {
    border: 2px solid #fff;
    border-top: none;
    border-left: none;
    transition: all 0.5s ease-out;
}

.swiper-button-prev {
    left: auto;
    right: 50% !important;
    margin: 0 1rem;
}

.swiper-button-next {
    left: 50% !important;
    right: auto;
    margin: 0 1rem;
    transform: rotate(180deg);
}

@media screen and (max-width: 768px) {
    .navbar-collapse {
        align-items: flex-start;
    }

    .navbar-collapse ul {
        margin-left: 1rem;
    }

    .offcanvas {
        max-width: 50%;
    }

    .mycard {
        width: 100% !important;
    }

    #faq-section .faq-container {
        align-items: center;
    }

    .footer-child ul {
        padding: 0px !important;
    }

    .carousel-card {
        flex-direction: column;
    }

    .carousel-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 !important;
    }

    .carousel-image {
        margin: 1rem;
    }

    .carousel-container {
        padding-bottom: 6.5rem;
    }

    .carousel-button {
        position: absolute;
        z-index: 10;
        top: 425px;
    }

    .accordion {
        max-width: 100%;
        width: 100%;
    }
}

@media screen and (min-width: 990px) {
    .hero-desc {
        padding: 5rem;
        max-width: 50%;
    }

    .accordion {
        max-width: 50%;
        width: 50%;
    }

    .hero-ills {
        max-width: 50%;
    }
}
